.build-controls {
  width: 450px;
  background-color: #cf8f2e;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-radius: 7px;
  font-weight: bold;

  & button-order {
    margin-top: 1rem;
  }
}
