.side-drawer {
  width: 300px;
  height: 100%;
  max-width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  & ul {
    padding-top: 2rem;
  }

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(-100%);
  }

  @media (min-width: 500px) {
    display: none;
  }
}
