* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  padding: 1rem 0;
}
//Variables
$color-brown-main: #cf8f2e;
$color-brown-light: #f08e4a;
$color-brown-dark: #8f5e1e;

//Utilities
.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
}

.py-1 {
  padding: 1rem 0;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mg-1-auto {
  margin: 1rem auto;
}

.mg-0-auto {
  margin: 0 auto;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.bg-brown-main {
  background: $color-brown-main;
}

.bg-brown-light {
  background: $color-brown-light;
}
